CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 


MONGODB_URL = mongodb://localhost:27017/ 
MONGODB_DBNAME = project-1 

SMTP_PROVIDER = gmail
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_USER =
SMTP_PASSWORD =
SMTP_FROM_ADDRESS = 

FRONTEND_URL= http://localhost:5173 

JWT_SECRET=36743fjdhbuyg7yf847uh

KHALTI_SECRET_KEY = 9e05a774125e462ab2bae58af7e7cba0
KHALTI_BASE_URL = https://dev.khalti.com/api/v2/ 

SQL_DIALECT = "postgres"
SQL_HOST = localhost
SQL_PORT = 5432
SQL_USER = postgres
SQL_PASSWORD = "Mern43#"
SQL_DBNAME = api_43 